{% extends "base.html" %}

{% block content %}
<div id="splash" class="splash-screen">
  <img style="border-radius: 54px;" src="{{ url_for('static', filename='/images/letraA.png') }}" alt="Ambiqua Logo" class="logo-splash">
</div>

<div class="auth-container">
  <h2>Inicia Sesión</h2>
  <form method="POST" action="{{ url_for('login') }}">

    <!-- Mostrar mensaje de contraseña restablecida -->


    <div class="form-group">
      
      <input type="text" name="username" placeholder=" Usuario" required>
      <i class="fas fa-user icon"></i>
    </div>

    <div class="form-group">
      
      <input type="password" name="password" id="password" placeholder="Contraseña" required>
      <i class="fas fa-lock icon"></i>
      <i class="toggle-password" id="togglePassword"></i>
    </div>

    <button type="submit">INGRESAR</button>

    <!-- Enlace para recuperacion de contraseña -->
    <p class="forgot-password"><a href="/recuperar_contrasena">¿No te acuerdas de tu contraseña?</a></p>

  </form>
  <p class="p-auth">¿No tienes cuenta? <a href="{{ url_for('register') }}">Regístrate aquí</a></p>
</div>


{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <script>
            {% for category, message in messages %}
                Swal.fire({
                    title: "{{ category.title() }}!",
                    text: "{{ message }}",
                    icon: "{{ category }}",
                    confirmButtonText: 'Está bien.',
                    confirmButtonColor: '#00512D'
                });
            {% endfor %}
        </script>
    {% endif %}
{% endwith %}

{% endblock %}
